{% extends 'dashboard/base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'products/style.css' %}">
{% endblock %}

{% block content %}
    <div class="container p-2 content-block">
        <div class="col-md">
            <h3 class="text-center mb-4">{{ title }}</h3>

            <div class=" p-2 d-flex justify-content-between mb-4">
                <form action="" method="POST" class="row">
                    {% csrf_token %}
                    <div class="col-md">
                        <input type="text" name="search" class="form-control" placeholder="Поиск">
                    </div>
                    <div class="col-md">
                        <input type="submit" value="Искать" class="btn btn-success">
                    </div>
                </form>
                <div>
                    <div class="dropdown">
                        <a class="btn btn-success" href="{% url 'event_create' %}">Создать</a>
                    </div>
                </div>
            </div>
            <div>

                <table class="table w-100 text-light">
                    <tr>
                        <th>Название</th>
                        <th>Активный?</th>
                        <th></th>
                        <th></th>
                    </tr>

                    {% for event in events %}
                        <tr>
                            <td>{{ event.title }}</td>
                            <td>
                                <input type='checkbox' {% if event.is_active %}checked{% endif %} onclick="return false" /> 
                            </td>
                            <td>
                                <a href="{% url 'event_detail' pk=event.id %}"
                                       class="btn btn-sm btn-info">Инфо</a>
                            </td>
                            <td>
                                <a href="{% url 'event_delete' pk=event.id %}"
                                   class="btn btn-sm btn-danger">Удалить</a>
                            </td>

                        </tr>
                    {% endfor %}
                </table>

            </div>
        </div>
    </div>
{% endblock %}