APScheduler==3.6.3
asgiref==3.2.10
certifi==2020.6.20
cffi==1.14.3
decorator==4.4.2
Django==3.1.2
django-cors-headers==3.5.0
djangorestframework==3.12.1
gunicorn==20.0.4
Pillow==7.2.0
psycopg2==2.8.6
psycopg2-binary==2.8.6
pycparser==2.20
PyRect==0.1.4
PyScreeze==0.1.26
python3-xlib==0.15
PyTweening==1.0.3
pytz==2020.1
six==1.15.0
sqlparse==0.3.1
tornado==6.0.4
tzlocal==2.1
uWSGI==2.0.19.1
whitenoise==5.2.0
