{% extends 'accounts/base.html' %}


{% block content %}
    <div class="container h-100">
        <div class="d-flex justify-content-center h-100">
            <div class="user_card">
                <div class="d-flex justify-content-center">


                    <h3 id="form-title">Восстановление пароля</h3>
                </div>
                <div class="d-flex justify-content-center form_container">
                    <form method="POST" action="">
                        {% csrf_token %}

                        <div class="input-group mb-2">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            {{ form.new_password1 }}
                        </div>
                        <div class="input-group mb-2">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            {{ form.new_password2 }}
                        </div>

                        <div class="d-flex justify-content-center mt-3 login_container">
                            <input class="btn login_btn" type="submit" value="Поменять">
                        </div>
                    </form>

                    <div></div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block scripts %}
    <script>
        var form_fields = document.getElementsByTagName('input')
        form_fields[1].placeholder = 'Новый пароль';
        form_fields[2].placeholder = 'Повторите новый пароль';


        for (var field in form_fields) {
            form_fields[field].className += ' form-control'
        }
    </script>
{% endblock %}
